@import "./variables";
html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Vibur', sans-serif;
}

.popover-body {
  padding: 0;
  border-radius: 10px;
  background-color: $tooltip_background;
}

.bs-popover-top {
  border-radius: 10px;
  background-color: $tooltip_background;
}

.bs-popover-top > .popover-arrow::after {
  border-top-color: $tooltip_background;
}
