@import "sass/variables";
@import "sass/placeholder";

html {
  min-height: 100%;
  @extend %custom-scroll;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Vibur', sans-serif;
  color: $color-text;
}

.navbar-light .navbar-brand {
  color: $color-text;
}

.popover-body {
  padding: 0;
  border-radius: 10px;
  background-color: $tooltip_background;
}

.bs-popover-top {
  border-radius: 10px;
  background-color: $tooltip_background;
}

.bs-popover-top > .popover-arrow::after {
  border-top-color: $tooltip_background;
}

.page-item {
  border-radius: 50%;
  margin-right: 5px;

  .page-link {
    border-radius: 50%;
  }

  &:last-child .page-link,
  &:first-child .page-link {
    border-radius: 50%;
    background: $tooltip_background;
    border: 3px solid $color_border_main;
    color: white;
  }

  &.active,
  &.active:first-child .page-link,
  &.active:first-child .page-link, {
    .page-link {
      background: $seat_bought;
      box-shadow: 0 0 10px 3px $color_border_main;
    }
  }
}

.navbar-light .navbar-nav .nav-link {
  color: $color-text;
  border-radius: 5px;
}

.navbar-light .navbar-nav .nav-link.active, {
  background: $color_border_gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-light .navbar-nav .nav-link:hover, {
  color: $color_border_main;
}


