@import "variables";

%custom-scroll {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px $color_border_main;
  }
  &::-webkit-scrollbar-thumb {
    background: $color_border_main;
    border-radius: 10px;
  }
}
