$color-text: #ffffff;
$seat_bought: #88888d;
$seat_reserved: #02f3bf;
$tooltip_background: rgba(80, 79, 79, 0.85);
$color_border_main: rgba(153, 51, 204, 1);
$color_border_additional: rgba(255, 255, 255, 0.15);

$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
