.wrapper {
  padding: 20px 15px;
  margin: 20px auto 0 auto;
  background-color: rgba(16, 15, 16, 0.7);
  border-radius: 30px;
  color: aliceblue;
}


.title {
    border-bottom: 2px solid #88888d;
}
