@import "../../sass/variables";

.hall {
  max-width: 400px;
  color: white;
  border-top: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;

  span {
    margin-bottom: 80px;
  }

  .row {
    display: flex;
    width: calc(100% - 30px);
    justify-content: center;
    align-items: center;
    margin: 1% 0;


    .row__title_rt {

      display: flex;
      justify-content: center;
      margin: 0 0 0 5px;
    }

    .row__title_lf {
      display: flex;
      justify-content: center;
      margin: 0 5px 0 0;
    }

    .seat {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
    }

    .seat_border {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border: 1px solid white;
      box-sizing: border-box;
    }

    .seat_bought {
      cursor: not-allowed;
      > svg, path {
        fill: $seat_bought;
      }
    }

    .seat_reserved {
      > svg, path {
        fill: $seat_reserved;
      }
    }
  }
}

.tooltip {
  width: 120px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $tooltip_background;
  border-radius: 10px;
  color: white;

  &_seat {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid wheat;
  }
}




