.hall {
  min-width: 200px;
  max-width: 600px;
  color: white;
  border-top: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;

  .seat_bought {
    cursor: not-allowed;

    svg path {
      fill: #88888d;
    }
  }

  span {
    margin-bottom: 80px;
  }

  .row {
    display: flex;
    width: calc(100% - 30px);
    justify-content: center;
    align-items: center;
    margin: 1% 0;

    span {
      width: 10px;
      margin: 0;
      font-size: 1rem;
    }

    .row__title_rt {
      display: flex;
      justify-content: center;
      margin-left: 5px;
    }

    .row__title_lf {
      display: flex;
      justify-content: center;
      margin-right: 5px;
    }

    .seat {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
    }

    .seat_border {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border: 1px solid white;
      box-sizing: border-box;
    }
  }
}

.tooltip {
  background-color: rgba(80, 79, 79, 0.85);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  height: 60px;
  color: white;

  &_seat {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    border: 1px solid wheat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}




