@import "../../../sass/variables";
@import "../../../sass/mixins";

.wrapper {
  width: 40%;
  padding-left: 40px;
  color: $color-text;
  z-index: 1;
  @include media-hall-resize {
    margin-top: 20px;
    padding-left: 0;
    width: 100%;
  }

  .button_buy {
    width: 150px;
    margin-left: auto;
    margin-right: calc(50% - 75px);
    align-self: center;
    $border: 5px;
    position: relative;
    box-sizing: border-box;
    color: $color-text;
    background-color: $color_gray;
    background-clip: padding-box;
    border: solid $border transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px $color_border_main;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -$border;
      border-radius: inherit;
      background: $color_border_gradient;
    }
  }
}

.seat {
  display: flex;
  padding: 20px;
  border-top: 1px solid $color_border_additional;

  &__image {
    flex-basis: 60px;
    flex-shrink: 0;
    text-align: center;

    &_simple svg {
      flex-shrink: 0;
      width: 40px;
      margin: 0 10px;
    }
  }

  &__description {
    flex: 1 1 auto;
    padding-left: 10px;

    .description__title {
      display: flex;
      justify-content: space-between;
    }

    .description__name {
      @include font($size: 1.4rem, $weight: normal);
    }

    .description__text {
      margin-top: 10px;
    }
  }
}


