.pagination__item {
  display: inline-block;
  text-transform: uppercase;
  margin: 0 3px 6px;
  height: 38px;
  min-width: 38px;
  border-radius: 38px;
  border: 2px solid #fff;
  line-height: 38px;
  padding: 0;
  color: #fff;
  font-weight: 700;
}
