input[type="file"] {
  display: none;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.create_card {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-radius: 30px !important;
  .input__upload {
    display: none;
  }
  .label__upload {
    margin-top: 1rem;
    width: 130px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: white;
  }
}


