@import "../../sass/mixins";

.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

.hall {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include media-hall-resize {
    align-items: center;
    flex-direction: column;
  }
}
